/* -------- CSS Reset -------- */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* -------- Custom CSS -------- */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: rgb(212, 212, 212);
}
body header {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header h1 {
  font-size: 2.5rem;
}
body main {
  font-size: 1.5rem;
  margin: 0px 100px 30px 100px;
}
body main div {
  display: grid;
  justify-content: center;
}
body main div .button-add-book {
  background-color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px 0px;
}
body main dialog {
  height: 500px;
  width: 380px;
  padding: 40px;
  border: none;
  border-radius: 25px;
}
body main dialog::backdrop {
  background-color: gray;
  opacity: 0.6;
}
body main dialog form {
  display: grid;
  gap: 30px;
}
body main dialog form legend {
  text-align: center;
  font-weight: bold;
}
body main dialog form ul {
  display: grid;
  gap: 10px;
}
body main dialog form ul li {
  list-style-type: none;
}
body main dialog form ul li label {
  display: block;
  font-size: 1rem;
  padding: 0px 0px 3px 3px;
}
body main dialog form ul li input {
  width: 100%;
}
body main dialog form ul .container-checkbox {
  margin: 20px 0px;
  display: flex;
}
body main dialog form ul .container-checkbox label {
  font-size: 1.2rem;
}
body main dialog form ul .container-checkbox input {
  height: 18px;
  width: 30px;
}
body main dialog form ul .container-buttons {
  display: flex;
  justify-content: space-between;
}
body main dialog form ul .container-buttons button {
  font-size: 1.2rem;
  background-color: #c5c5c5;
  padding: 10px 0px;
  width: 100px;
  border: none;
  border-radius: 25px;
}
body main .container-books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 450px;
  gap: 50px;
}
body main .container-books .book {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
body main .container-books .book > p {
  text-align: center;
}
body main .container-books .book > button {
  border: none;
  border-radius: 6px;
  padding: 10px 0px;
  width: 180px;
}
body main .container-books .book__remove {
  color: white;
  background-color: #ff3c3c;
}
body main .container-books .book__has-read {
  background-color: rgb(113, 255, 113);
}
body main .container-books .book__has-read--false {
  background-color: rgb(255, 196, 0);
}/*# sourceMappingURL=style.css.map */